@font-face{
	font-family:'V';
	font-style:normal;
	font-weight:normal;
	src:local('VeganStyle'), url('VeganStyle.ttf') format('ttf');
}
body{
	background: linear-gradient(to right, #5449b6, #0ff074)
}
.main{
  background:red;
}
.title{
  font-weight: 900;
  font-family: 'V';
}
.searchBar{
	width: 250px;
	height: 50px;
}
.particles{
	position: fixed;
	right: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}